# pycache
**/__pycache__/
**/*.py[cod]

# venv
**/venv

# pycharm specific files
.idea/

# testing files
debug.log
playground.ipynb
testfiles/*.txt
testfiles/*.test
testfiles/*.en.tgz

# ML models
ML/models/*.pkl

# ML data
ML/datasets/oxford_pets/*.jpg
ML/datasets/oxford_pets/*.mat

# type checking
.pyre/
.watchmanconfig
.pyre_configuration
